* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fac306;
}
#card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.invitation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

h1 {
    color: #765187;
}